<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8"/>
    <title>Tourist helper</title>
    <script type=text/javascript src='../static/js/index.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>-->
    <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-10">
            <div class="background">
                <h2 class="title">Tourist helper {{ message | safe }}</h2>
                <div class="container">
                    <div class="row description-row">
                        <div class="col-md-7">
                            <p id="description">Have you ever had a problem with translating foreign signs, brochures etc?
                                That's past now! With our application you can translate any photo to your favourite languages
                                in less than a minute! Sign in or use anonymous request through this page :)</p>
                        </div>
                        <div id="button-row" class="col-md-5">
                            <div class="align-self-center">
                                <a href="/translation/add" class="btn btn-info col-12 m-1" role="button">Anonymous
                                    Request</a>
                                <a href="/login" class="btn btn-info col-12 m-1" role="button">Sign in</a>
                                <a href="/register" class="btn btn-info col-12 m-1" role="button">Sign up</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1">
            </div>
        </div>
    </div>
</div>
</body>
</html>