<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8"/>
    <title>Tourist helper</title>
    <script type=text/javascript src='../static/js/index.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/translations_list.css">
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>-->
    <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-10">
            <div class="background">
                <h2 class="title">Your translations {{ message | safe }} </h2>
                <div class="list-group">
                    <div class="list-group">
                        <div class="row content-row header-row">
                            <div class="col-1">No.</div>
                            <div class="col-4">Photo</div>
                            <div class="col-2">Status</div>
                            <div class="col-3">Request date</div>
                            <div class="col-2 details-col">Details</div>
                        </div>
                        {% for translation in translations_list %}
                        <div class="row content-row">
                            <div class="col-1">{{ loop.index }}</div>
                            <div class="col-4"><img class="translation-image" src="{{ translation.image_url }}"></div>
                            <div class="col-2">{{ translation.status }}</div>
                            <div class="col-3">{{ translation.timestamp }}</div>
                            {% if translation.status == "READY" %}
                            <div class="col-2 details-col"><a class="btn btn-success"
                                                              href="/translation/details?token={{ translation.token}}"
                                                              role="button">Details</a></div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row navigation-row">
                    <div class="col-12">
                        <a class="btn btn-primary" href="/logout" role="button">Logout</a>
                        <a class="btn btn-primary" href="/translation/add" role="button">New request</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
</body>
</html>