<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8"/>
    <title>Tourist helper</title>
    <script type=text/javascript src='../static/js/index.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/translations_list.css">
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>-->
    <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-10">
            <div class="background">
                <h2 class="title">Your translations</h2>
                <div class="list-group">

                    <table>
                        {% for translation in user_translations %}
                        <TR>
                            <TD class="c1">{{ loop.index }}</TD>
                            <TD class="c2">{{translation.date}}</TD>
                            <TD class="c3">{{translation.id}}</TD>
                            <TD class="c4"><SPAN>{{translation.position}}</SPAN></TD>
                            <TD class="c5"><SPAN>{{translation.status}}</SPAN></TD>
                        </TR>
                        {% endfor %}
                    </table>

<!--                    {% for id, title in listOfPublications.items() %}-->
<!--                    {% if id != 'extraPublications' %}-->
<!--                    <a class="list-group-item list-group-item-action"-->
<!--                       href="https://web.company.com/details?token={{ listToken }}-->
<!--                    &uid={{ uid }}&pid={{ id }}">{{ loop.index }}. {{ title }}</a>-->
<!--                    {% endif %}-->
<!--                    {% endfor %}-->
<!--                    {% if listOfPublications.get('extraPublications') != None %}-->
<!--                    {% for owner, publications in listOfPublications.get('extraPublications').items() %}-->
<!--                    {% for publication, title in publications.items() %}-->
<!--                    <a class="list-group-item list-group-item-action"-->
<!--                       href="https://web.company.com/detailsshare?token={{ listToken }}-->
<!--                    &uid={{ uid }}&spid={{ publication }}&suid={{ owner }}">{{ loop.index }}. [Publikacja użytkownika:{{-->
<!--                        owner }}] {{ title.get('title') }}</a>-->
<!--                    {% endfor %}-->
<!--                    {% endfor %}-->
<!--                    {% endif %}-->
                </div>
                <form class="form" action="/add">
                    <input class="btn btn-primary" type="submit" value="Add new translation request"/>
                </form>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
</body>
</html>